# Aprendiendo Pandas

## Importar dependencias

In [ ]:
import pandas as pd

## Series de Pandas

a. Crear una Serie llamada 'height' con datos de altura de personas en centímetros

In [ ]:
height_cm = [165, 180, 171, 155, 170, 167, 188, 201]
height = pd.Series(height_cm)

In [ ]:
height

b. Mostrar los primeros 5 elementos de la Serie 'height'

In [ ]:
height.head()

c. Mostrar los primeros 2 elementos de la Serie 'height'

In [ ]:
height.head(2)

d. Ordenar la Serie 'height' en orden ascendente

In [ ]:
height.sort_values()

e. Obtener el valor máximo, mínimo, promedio y suma de la Serie `height`

In [ ]:
height.max()

In [ ]:
height.min()

In [ ]:
height.mean()

In [ ]:
height.sum()

f. Obtener estadísticas descriptivas de la Serie `height`

In [ ]:
height.describe()

g. Contar el número de elementos en la Serie `height`

In [ ]:
height.count()

h. Filtrar la Serie `height` para obtener las alturas mayores que 170 cm

In [ ]:
height > 170

In [ ]:
height[height > 170]

In [ ]:
height[height > 170].count()

## Dataframes de Pandas

a. Crear un DataFrame llamado `people` con datos de personas

In [ ]:
data = {
    "name": ["Stephanie", "Karen", "Brian", "Travis", "Evan"],
    "birth_date": ["1994-09-25", "2002-05-01", "1992-03-12", "1995-07-11", "1992-09-29"],
    "height_cm": [153.20, 172.34, 187.57, 196.06, 163.61],
    "weight_kg": [110.11, 96.80, 86.28, 67.14, 55.26]
}

In [ ]:
people = pd.DataFrame(data)

In [ ]:
people.head(2)

b. Obtener estadísticas descriptivas del DataFrame `people`

In [ ]:
people.describe()

c. Filtrar las personas con peso menor a 80 kg

In [ ]:
people.weight_kg < 80.0

In [ ]:
people[people.weight_kg < 80]

d. Mostrar solo la columna `birth_date` de las personas con peso menor a 80 kg

In [ ]:
people[people.weight_kg < 80].birth_date

e. Obtener estadísticas descriptivas de las personas con peso menor a 80 kg

In [ ]:
people[people.weight_kg < 80].describe()

f. Leer datos desde el archivo CSV `workers.csv` en un DataFrame

In [ ]:
people = pd.read_csv("workers.csv", index_col="id")

g. Mostrar los primeros elementos del DataFrame 'people'

In [ ]:
people.head()

h. Contar el número de elementos en el DataFrame 'people'

In [ ]:
people.count()

i. Filtrar las personas con peso menor a 80 kg en el DataFrame 'people'

In [ ]:
people.weight_kg < 80

In [ ]:
people[people.weight_kg < 80].head()

j. Guardar el resultado en un nuevo DataFrame `people_under_80kg`

In [ ]:
people_under_80kg = people[people.weight_kg < 80]

In [ ]:
people_under_80kg.head()

In [ ]:
people_under_80kg.count()

k. Leer datos desde el archivo CSV: `workers_info.csv` en un nuevo DataFrame `company`

In [ ]:
company = pd.read_csv("workers_info.csv")

In [ ]:
company.head()

l. Unir los DataFrames `people` y `company` usando la columna `id`

In [ ]:
workers = people.merge(company, left_on="id", right_on="id")

In [ ]:
workers.head()

m. Convertir las letras en la columna `worker_id` a mayúsculas

In [ ]:
workers.loc[:, "worker_id"].str.upper()

In [ ]:
workers.loc[:, "worker_id"] = workers.loc[:, "worker_id"].str.upper()

In [ ]:
workers.head()

n. Cambiar la primera letra a mayúscula en la columna `job`

In [ ]:
workers.loc[:, "job"] = workers.loc[:, "job"].str.title()

In [ ]:
workers.head()

ñ. Agregar una columna `registration-year` que contenga el año en que el trabajador empezó

In [ ]:
# Convertir la columna registration_date a tipo Date
workers["registration_date"] = pd.to_datetime(workers["registration_date"], format="%Y-%m-%d")

In [ ]:
workers.dtypes

In [ ]:
workers["registration-year"] = workers.registration_date.dt.year

In [ ]:
workers.head()

o. Agregar una columna `registration-year-month` que contiene el año y mes de inicio

In [ ]:
workers["registration-year-month"] = workers.registration_date.dt.strftime("%Y-%m")

In [ ]:
workers.head()

p. Filtrar trabajadores en compañía tipo `LLC`

In [ ]:
workers[workers["company"].str.contains("LLC")]